.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_title,
h1,
h2,
h3,
p,
.notion-checkbox,
details {
  max-width: 100%;
  width: 900px;
  text-align: left;

  padding-left: 96px;
  padding-right: 96px;
}

details > p {
  padding-left: 1em;
}

ol,
ul {
  text-align: left;
  max-width: 100%;
  width: 900px;

  padding-left: 120px;
  padding-right: 120px;
}

ol > ul,
ol > ol,
ul > ul,
ul > ol {
  padding-left: 1em;
  padding-right: 0px;
}

ol > h2 {
  padding-left: 0;
  padding-right: 0;
}
h1,
h2,
h3 {
  font-weight: 500;
}

.page_title {
  margin-top: 80px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 40px;
}

h1 {
  margin-top: 2em;
  margin-bottom: 4px;
  font-size: 1.875em;
}

h2 {
  margin-top: 1.4em;
  margin-bottom: 1px;
  font-size: 1.5em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1px;
  font-size: 1.25em;
}

p,
.notion-checkbox,
ol,
ul {
  margin: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.5;
  text-align: justify;
}

.inline-code {
  color: #eb5757;
  padding: 0.2em 0.4em;
  background: rgba(135, 131, 120, 0.15);
  border-radius: 3px;
  font-size: 85%;
}

.notion-checkbox {
  display: flex;
  align-items: center;
}

.checkbox-false {
  text-decoration: line-through;
  color: grey;
}

.checkbox-icon-false {
  border: 1px solid black;
  width: 16px;
  height: 16px;
  box-shadow: inset 1px 1px 0 grey, inset -1px -1px 0 grey;
  margin-right: 0.6em;
}

.checkbox-icon-true {
  width: 16px;
  height: 16px;
  background: rgb(46, 170, 220);
  margin-right: 0.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon-true > svg {
  width: 12px;
  height: 12px;
  fill: white;
}

hr {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  line-height: 1.5;
  max-width: 100%;
  width: 720px;
  height: 1px;
  background: rgba(55, 53, 47, 0.16);
  border: none;
}

@media (max-width: 768px) {
  .page_title,
  h1,
  h2,
  h3,
  p,
  .notion-checkbox,
  details {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  ol,
  ul {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
